<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <title>Dependency Graph</title>
   <script src="vis.min.js"></script>
   <script src="knot.js"></script>
   <link href="vis.min.css" rel="stylesheet" type="text/css" />
   <link href="knot.css" rel="stylesheet" type="text/css" />
   <script src="lodash.all.min.js"></script>
</head>

<body>
   <script type="text/html" id="nodeInfo">
      <h3> <%= type %> <%= name %>
      </h3>
      <div class="twocolumn">
      <% if(typeof resourceType != 'undefined'){ %>
            <div>found in:</div>
            <div><%= resourceType %> <%= resourceName %></div>
      <% } %>
            <div>total number classes:</div>
            <div><%= numberContainedClasses %></div>
            <div>current reference:</div>
            <div><%= id %></div>
         </div>
      <% if(type!='class'){ %>
         <button id="expandNode" change-list-mode="EXPANDED">expand <%=numberExpandable %> nodes</button>
      <% } %>
      <% if(type=='class' || type=='package' || type =='package tree'){ %>
         <button id="collapseParentNode" change-list-mode="COLLAPSE_PARENT">
                 collapse <%=numberCollapsable %> nodes into parent container</button>
      <% } %>
   </script>
   <script type="text/html" id="arcInfo">
       <h3> <%= from.name %> depends on <br><%= to.name %> </h3> 
       Dependency is caused by (using relative names):
       <table>
          <tr><th>Referencing class</th><th>Referenced class</th></tr>
          <% for(var i = 0; i < reason.length; ++i) {%>
             <tr><td> <%= reason[i].first %> </td><td> <%= reason[i].second %></td></tr>
          <% } %>
       </table>
   </script>
   <script type="text/html" id="refReportTmpl">
      <h2>Unreferenced classes</h2>
      <%= resolve("unrefElementsTmpl", { elements: classes, 
                     okMessage: "There are no apparently unused classes.", 
                     explanation: "The following classes appear to be unused, consider to remove them from your project:"
                }) %>
      <h2>Unreferenced libraries</h2>
      <%= resolve("unrefElementsTmpl", { elements: jars, 
                     okMessage: "There are no unreferenced libraries.", 
                     explanation: "Your class path contains jars which are not used statically. Run your tests to find out whether they are really needed:"
                }) %>
      <h2>Libraries providing few classes</h2>
      <%= resolve("littleUsedTmpl", { elements: littleSupplyingLibs,
                     okMessage: "All referenced libraries seem to contribute a fair amount of code.",
                     explanation: "Your software seems to use only few classes from the following libraries. Consider to replace that functionality.",
                     classesTitle: "used classes"
                }) %>
      <h2>Libraries used by few classes</h2>
      <%= resolve("littleUsedTmpl", { elements: rarelyUsedLibs,
                     okMessage: "All referenced libraries seem to be really needed by your software.",
                     explanation: "The following libraries are used by only few classes. Find out whether these libraries are really needed:",
                     classesTitle: "using classes"
                }) %>
   </script>

   <script type="text/html" id="unrefElementsTmpl">
      <% if(elements.length==0) { %>
         <%= okMessage %>
      <% } else { %>
         <%= explanation %>
         <p>
         <% for(var i = 0; i < elements.length; ++i) {%>
            <div class="link" onClick="selectNodesByName('<%=elements[i].nodeName %>')"><%=elements[i].name %> </div>
         <% } %>
         </p>
      <% } %>
   </script>

   <script type="text/html" id="littleUsedTmpl">
      <% if(elements.length==0) { %>
         <%= okMessage %>
      <% } else { %>
         <%= explanation %>
         <table>
            <tr>
               <th>library</th>
               <th><%= classesTitle %></th>
            </tr>
            <% for(var i = 0; i < elements.length; ++i) {%>
               <tr>
                  <td><div class="link" onClick="selectNodesByName('<%=elements[i].nodeName %>')"><%=elements[i].name %> </div></td>
                  <td><%= elements[i].refClasses %></td>
               </tr>
            <% } %>
         </table>
      <% } %>
   </script>

   <script type="text/html" id="missingReportTmpl">
      <h2>Missing classes</h2>
      <% if(_.size(content)==0) { %>
         All referenced classes are present in the class path.
      <% } else { %>
         Not all classes can be loaded. This is OK if you are checking just a compile class path. Otherwise, your tests 
         seem to be incomplete.
     <% } %>
   </script>

   <script type="text/html" id="classpathTmpl">
      <table>
         <tr>
            <th>active</th>
            <th>name</th>
            <th>full path</th>
         </tr>
         <% for(var i = 0; i < entries.length; ++i) {%>
            <tr>
               <td><input type="checkbox" disabled id="<%=entries[i].label %>" <%=entries[i].active ? "checked": ""%>/></td>
                <td><label for="<%= entries[i].label %>"><%= entries[i].label %></label></td>
               <td><%=entries[i].fullPath%></td>
            </tr>
         <% } %>
      </table>
   </script>

   <script type="text/html" id="filterTmpl">
      <% if( entries.length > 0) { %>
         Currently active:
         <ul>
            <% for(var i = 0; i < entries.length; ++i) {%>
               <li> <%= entries[i] %></li>
            <% } %>
        </ul>
      <% } %>
   </script>

   <script type="text/html" id="metricsTmpl">
     <h3>Summary</h3>
      <table>
         <tr><th>Scope</th> <th> number elements </th> <th> arc density </th> </tr>
         <tr><td>own classes</td> <td><%= numElements[0] %></td><td> <%= edgeDensity[0].toFixed(3) %></td></tr>
         <tr><td>own packages</td><td><%= numElements[1] %></td><td> <%= edgeDensity[1].toFixed(3) %></td></tr>
         <tr><td>archives</td>    <td><%= numElements[2] %></td><td> <%= edgeDensity[2].toFixed(3) %></td></tr>
      </table>
      <h3>Component dependency</h3>
      <table>
         <tr><th>Scope</th> <th>  cumulative (ccd) </th> <th> average (acd) </th> <th> relative to bintree of same size (rcd) </th> </tr>
         <%= resolve("metricLineTmpl", { name: "own classes", values: xcd[0] }) %>
         <%= resolve("metricLineTmpl", { name: "own packages", values: xcd[1] }) %>
         <%= resolve("metricLineTmpl", { name: "archives", values: xcd[2] }) %>
      </table>
      <a href="http://blog.eisele.net/2009/12/software-quality-basics-ii-ccd-acd-ca.html">Definitions</a>
      <h3>Elements with biggest contribution to overall coupling</h3>
      <h4>Classes</h4>
      <%= resolve("worstElementsTmpl", { list: worstElements[0] }) %>
      <h4>Packages</h4>
      <%= resolve("worstElementsTmpl", { list: worstElements[1] }) %>
      <h4>Resources</h4>
      <%= resolve("worstElementsTmpl", { list: worstElements[2] }) %>
   </script>

   <script type="text/html" id="worstElementsTmpl">
      <% for(var i = 0; i < list.length; ++i) {%>
          <%= list[i] %><br/>
      <% } %>
   </script>

   <script type="text/html" id="metricLineTmpl">
      <tr><td ><%= name %></td><td><%= values[0].toFixed(2) %></td><td><%= values[1].toFixed(2) %></td><td><%= values[2].toFixed(2) %></td></tr>
   </script>

   <h1>
      Dependencies of project <span id="projectName"></span>
   </h1>
   <button class="tablink" onclick="openPage('graph', this)" id="defaultOpen">Graph</button>
   <button class="tablink" onclick="openPage('report', this)">Report</button>
   <button class="tablink" onclick="openPage('metrics', this)">Metrics</button>
   <button class="tablink" onclick="openPage('classpath', this)">Class path</button>
   <br />

   <div id="graph" class="tabcontent">
      <div class=twocolumnLeftWide>
         <div id="mynetwork"></div>
         <div id="detailInfo">
            <h2>Graph</h2>
            <h3>Nodes</h3>
            <button onClick="distribute()">start</button>
            <button onClick="stopMovingNodes()">stop</button>
            automatic distribution <br>
            <button onClick="setFilter('resetListMode')">reset</button>
            expanded/collapsed nodes
            <h3>Filters</h3>
            <div id="filters"></div>
            <button onClick="setFilter('none')" title="Clear all active filters">whole
               graph</button>
            <button onClick="setFilter('cycles')"
               title="Display only nodes and acrs which are part of some cyclic dependency.">cycles
               only</button>
            <br />
            <button onClick="impliedOnly(true)">required by selected node</button>
            <button onClick="impliedOnly(false)">requiring selected node</button>

            <h2>Selected Element</h2>
            <div id="description"></div>
         </div>
      </div>
   </div>
   <div id="report" class="tabcontent">
      <div id="refReport"></div>
      <div id="missingReport"></div>
   </div>
   <div id="metrics" class="tabcontent">
      <div id="metricsContent"></div>
   </div>
   <div id="classpath" class="tabcontent">
      <h2>Classpath</h2>
      <form id="classpathContent"></form>
   </div>
</body>

</html>
